<aside class="left-off-canvas-menu">
    <ul class="title-area">
        <li class="name"><h1><a href="{{ site.link }}">{{ site.name }}</a></h1></li>
        {% include 'primary-menu.twig' %}
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
</aside>
