table#edd_checkout_cart {
    width: 100%;
}

.sidebar-buy-button .button {
    width: 100%;
}

.downloads-list .hentry {
    margin: 0 0 1.5em 0;
}

.downloads-list .hentry .inside {
    border: 1px solid rgba(0,0,0,.04);
}

.downloads-list .hentry .inside .download-info {
    padding: 10px;
}

.downloads-list.grid .featured-image-wrapper {
    position: relative;
}

.downloads-list.grid .featured-image-wrapper .edd_download_buy_button {
    opacity: 0;
    position: absolute;
    background: #222;
    background: rgba(0,0,0,.6);
		width: 100%;
		height: 100%;
		transition: all 150ms;
		text-align: center;
}

.downloads-list.grid .featured-image-wrapper .edd_download_buy_button .edd_download_purchase_form,
.downloads-list.grid .featured-image-wrapper .edd_download_buy_button .edd_purchase_submit_wrapper {
	height: 100%;
}
.downloads-list.grid .featured-image-wrapper .edd_download_buy_button a {
	text-align: center;
	position: relative;
	top: 40%;
}

.downloads-list.grid .featured-image-wrapper:hover .edd_download_buy_button {
	opacity: 1;
}

.content-primary-wrapper {
    padding-top: 2em;
}
/*EDD-Specks styles*/
table#isa-edd-specs {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

#isa-edd-specs caption {
    background: rgba(0,0,0,0.1);
    font-size: 2em;
}

#isa-edd-specs tr {
    border-bottom: 1px solid #f2f2f2;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

#isa-edd-specs tr td {
    padding: .5em;
}

#isa-edd-specs tr td:first-child {
    font-weight: 700;
}

#isa-edd-specs tr td:nth-child(2) {
    text-align: right;
}

/*Narrow checkout pages have higher conversion rates.*/
body.edd-checkout .content-wrapper {
    max-width: 700px;
    margin: auto;
}

ul.page-numbers .current {
    display: block;
    color: #fff;
    border-radius: 3px;
    padding: 0.0625rem 0.625rem 0.0625rem;
    background: #E33100;
}

table#edd_user_history {
    width: 100%;
}

#edd_checkout_form_wrap input.edd-input, #edd_checkout_form_wrap textarea.edd-input {
    width: 100%;
}

.widget_edd_cart_widget ul.edd-cart {
    list-style-type: none;
    margin-left: 0;
}

.widget_edd_cart_widget .edd-cart-number-of-items, .widget_edd_cart_widget .edd_subtotal {
    font-style: italic;
}

.widget_edd_cart_widget .edd-cart-quantity, .widget_edd_cart_widget .subtotal {
    font-weight: bold;
    font-style: normal;
}

.widget_edd_cart_widget .edd_subtotal {
    margin-top: 20px;
}

.button.white { background: #F9F3CF; color: #333; }
.button.white:hover{ background: #f7f7f7; }

.button.gray { background: #666; color: #fff; }
.button.gray:hover { background: #555; }

.button.blue { background: #006F75; color: #fff; }
.button.blue:hover { background: #00BBB5; }

.button.red { background: #E33100; color: #fff; }
.button.red:hover { background: #E30000; }

.button.green { background: #3CB059; color: #fff; }
.button.green:hover { background: #74C76D; }

.button.yellow { background: #FFB007; color: #fff; }
.button.yellow:hover { background: #FFF755; }

.button.orange { background: #E26D18; color: #fff; }
.button.orange:hover { background: #F75E11; }

.button.dark-gray { background: #342D27; color: #fff; }
.button.dark-gray:hover { background: #333; }
