table#edd_checkout_cart {
	width: 100%;
}

.sidebar-buy-button .button { width: 100%; }
.downloads-list .hentry { margin-bottom: 1.5em; }
.downloads-list .hentry .inside { border: 1px solid rgba(0,0,0,.04); }
.downloads-list .hentry .inside .download-info { padding: 10px; }

/*EDD-Specks styles*/
table#isa-edd-specs { width: 100%; margin-top: 1em; margin-bottom: 1em; }
#isa-edd-specs caption { background: rgba(0,0,0,0.1); font-size: 2em; }
#isa-edd-specs tr { border-bottom: 1px solid #f2f2f2; border-bottom: 1px solid rgba(0,0,0,.1); }
#isa-edd-specs tr td { padding: .5em; }
#isa-edd-specs tr td:first-child { font-weight: 700; }
#isa-edd-specs tr td:nth-child(2) { text-align: right; }

/*Narrow checkout pages have higher conversion rates.*/
body.edd-checkout .content-wrapper { max-width: 700px; margin: auto; }

figure.effect-goliath { overflow-y: hidden; margin: 0;}
figure.effect-goliath .inside { }
figure.effect-goliath img, figure.effect-goliath h3 { -webkit-transition: -webkit-transform 0.35s; transition: transform 0.35s; }
figure.effect-goliath img { -webkit-backface-visibility: hidden; backface-visibility: hidden; width: 100%; height: auto; }
figure.effect-goliath h3, figure.effect-goliath p { position: absolute; bottom: 0; left: 0; padding: 30px; }
figure.effect-goliath p, figure.effect-goliath .details { text-transform: none; font-size: 90%; opacity: 0; -webkit-transition: opacity 0.35s, -webkit-transform 0.35s; transition: opacity 0.35s, transform 0.35s; -webkit-transform: translate3d(0,50px,0); transform: translate3d(0,50px,0); }
figure.effect-goliath:hover img { -webkit-transform: translate3d(0,-80px,0); transform: translate3d(0,-80px,0); }
figure.effect-goliath:hover h3 { -webkit-transform: translate3d(0,-100px,0); transform: translate3d(0,-100px,0); }
figure.effect-goliath:hover p, figure.effect-goliath:hover .details { opacity: 1; -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
figure.effect-goliath figcaption { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
